<!DOCTYPE HTML>
<html lang="en-US" ng-app="Prometeo">
    <head>
        <meta charset="UTF-8">
        <title>Prometeo</title>
    
        <!-- Styles Includes -->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        
        <link href="~/Content/jquery.parallax.css" rel="stylesheet" />
    </head>

<body ng-controller="mainController">

    <!-- Navigation -->
    <div class="navbar navbar-fixed-top" bs-navbar>
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#/home">Prometeo</a>
                <ul class="nav">
                    <li data-match-route="/home"><a href="#/home">Home</a></li>
                    <li data-match-route="/blog"><a href="#/blog">Blog</a></li>
                    <li data-match-route="/about"><a href="#/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>

   <!-- Content -->
   <div class="container-fluid" id="main">
        <div class="row-fluid">
		    <!-- pages -->
            <ng-view></ng-view>
        </div>
    </div> 

    <!-- JavaScript Includes -->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script> 
    <script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>

    <script src="~/Scripts/q.min.js"></script> 
    <script src="~/Scripts/breeze.debug.js"></script>
    <script src="~/Scripts/breeze.savequeuing.js"></script>
    
    

    <script src="~/Scripts/angular.min.js"></script>   
    <script src="~/Scripts/angular-ui.js"></script>
    <script src="~/Scripts/angular-strap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
     <script src="~/Scripts/modernizr-2.5.3.js"></script>
    <script src="~/Scripts/jquery.cslider.js"></script>

    <script src="~/App/js/main.js"></script>
    <script src="~/App/js/dataservice.js"></script>
    <script src="~/App/js/model.js"></script>
    <script src="~/App/js/jsonResultsAdapter.js"></script>
    
     @Scripts.Render("~/signalr/hubs")

    
</body>
</html>
