  <div id="content">
          <div class="container">
            <div id="da-slider" class="da-slider" ui-jq="cslider"  style="box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)">
                <div class="da-slide">
                    <h2 >Slide 1</h2>
                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                    <a href="#" class="da-link">Read more</a>
                    <div class="da-img">
                        <img src="/Content/images/1.png" />
                    </div>
                </div>
                
                <div class="da-slide">
                    <h2 >Slide 2</h2>
                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                    <a href="#" class="da-link">Read more</a>
                    <div class="da-img">
                        <img src="/Content/images/2.png" />
                    </div>
                </div>
                
                  <div class="da-slide">
                    <h2 >Slide 3</h2>
                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                    <a href="#" class="da-link">Read more</a>
                    <div class="da-img">
                        <img src="/Content/images/3.png" />
                    </div>
                </div>

                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>
            </div>

      </div>
      
      <div class="container">
          <article class="row-fluid" >
              <div class="span4 content">
                  <h2>Blog Post 1</h2>
                  <p >Suspendisse potenti. Donec egestas metus quis mauris ullamcorper eu consequat enim vulputate. Duis dictum ornare ante at accumsan. Mauris ornare sodales pretium.</p><p><a class='btn' href='/Blog'>Model details &raquo;</a></p> 
              </div>
              <div class="span4 content">
                  <h2>Blog Post 2</h2><p>Suspendisse potenti. Donec egestas metus quis mauris ullamcorper eu consequat enim vulputate. Duis dictum ornare</p><p><a class='btn' href='/Blog'>Model details &raquo;</a></p> 
              </div>
              <div class="span4 content">
                  <h2>Blog Post 3</h2><p>Suspendisse potenti. Donec egestas metus quis mauris ullamcorper eu consequat enim vulputate. Duis dictum ornare</p><p><a id='button2' class='btn' href='/Blog'>Model details &raquo;</a></p> 
              </div>
          </article>
      </div>
  </div> 
 